.page {
    width: 600px;
    margin: 0 auto;
}

.synopsis {
    color: #7e8184;
    font-style: italic;
}

.synopsis em {
    font-style: normal;
}



.button {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}

.call-to-action {
    font-style: italic;
    background-color: #eeb75a;
}

.a-call-to-action:link,
.a-call-to-action:visited {
    font-style: italic;
    background-color: #d55c5f;
}


.a-call-to-action:hover,
.a-call-to-action:visited:hover {
    font-style: italic;
    background-color: #f5cf8e;
}


.a-call-to-action:active,
.a-call-to-action:visited:active {
    font-style: italic;
    background-color: #eeb75a;
}

.page>p:last-of-type {
    margin-bottom: 4em;
    color: #7e8184;
    font-style: italic;
}



#button-2 {
    background-color: #d55c5f;
    color: #5d6063;
}

.a-button {
    color: beige;
}

.a-button:link,
.a-button:visited {
    display: block;
    text-decoration: none;

    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}

.a-button:hover,
.a-button:visited:hover {
    color: #FFF;
    background-color: #76aeed;
}

.a-button:active,
.a-button:visited:active {
    color: #FFF;
    background-color: #5995da;
}


a:link,
a:visited {
    display: block;
    text-decoration: none;

    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;

    width: 700px;
    margin: 20px auto;
}

a {
    color: blue;
}
