* {
    margin: 0;
    padding: 0;
    box-sizing: border-boxxs;
}

body{
    font-size: 12px;
    text-align: center;
}

h1,
p {
    background-color: #dde0e3;
    /* margin: auto; */
    /* width: 300px; */
}

h1 {
    padding: 2em;
    /* border-radius: 1em solid #5d6063; */
    /* border-top: 1em solid #5d6063; */
    border-width: 1em 1em 1em 1em;
    border-style: double dashed dashed double;

}

p {
    padding: 1em 1em 1em 2em;
    /* margin-bottom: 4em; */

    margin-top: 20px;
    margin-bottom: 50px;
}

em,
strong {
    background-color: #b2d6ff;
    display: inline;
}

strong {
    margin: 2em;
}

div {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    /* text-align: center; */
    border: 20px solid #5D6063;
    border-radius: 5px;

    /* width: 200px; */
    /* white-space: pre-line; */
    box-sizing: content-box;
    /* box-sizing: border-box; */
    margin: 2em auto;
}